* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}

header,
.info-section,
.quote-section,
footer {
    padding: 80px 64px;
    padding-top: 12px;
}

header,
footer {
    background-color: #1f2937;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {

}

.logo {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.main-nav{

}

.main-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.main-nav ul li a {
    color: #F9FAF8;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.hero-title,
.hero-text {
    display: inline-block;
    width: 50%;
}

.hero-text {
    color: #E5E7EB;
    width: 60%;
    margin-top: 0;
}

.hero-cta {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero-cta {
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
}

.hero-image {
    width: 50%;
}

.hero-image img{
    width: 100%;
    border-radius: 30px;
}

.info-section h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 64px;
    margin-top: 48px;
}

.info-list {
    display: flex;
    list-style: none;
}

.info-list li {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.info-image {
    width: 90%;
    border-radius: 16px;
}

.info-list p {
    width: 90%;
}

.quote-section {
    background-color: #E5E7EB;
    padding-top: 64px;
}

.quote-container {
    margin: 0 auto;
    width: 50%;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.quote-author {
    text-align: end;
    font-weight: bold;
}

.cta-section {
    padding: 80px 64px;
}

.cta-container {
    background-color: #3882f6;
    color: #F9FAF8;
    width: 70%;
    margin: 0 auto;
    padding: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-container p {
    color: #E5E7EB;
}

.cta-container a {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 48px;
    border-radius: 8px;
}

footer {
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    padding: 32px;
}